<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--================ Start Header Menu Area =================-->
<header th:fragment="menu" class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" th:href="@{/home}"><img src="/img/logo.png"
                                                                       alt="Buy blue. Feel empty. Enjoy the silence."></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" th:href="@{/home}">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false" th:href="@{/home}">Shop</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Product List</a>
                                </li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/cart}">Shopping Cart</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true"
                               aria-expanded="false" th:href="login">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" th:href="@{/addUser}">Register</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="login">Login</a></li>
                                <li class="nav-item"><a class="nav-link" th:href="@{/addProduct}">Add Product</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                    </ul>
                    <ul class="nav-shop">
                        <li class="nav-item">
                            <button onclick="window.location.href='/cart'"><i class="ti-shopping-cart"></i><span
                                    class="nav-shop__circle" th:text="${totalNumberOfProducts}"></span></button>
                        </li>
                        <li class="nav-item"><a class="button button-header" th:href="@{/cart}">Buy Now</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================ End Header Menu Area =================-->
</body>
</html>